/*fonts*/
@font-face {
    font-family: AllerBold;
    src: url('../fonts/Aller_Bd.ttf');
}

@font-face {
    font-family: Aller;
    src: url('../fonts/Aller_Rg.ttf');
}

@font-face {
    font-family: AllerItalic;
    src: url('../fonts/Aller_It.ttf');
}

@font-face {
    font-family: AllerBdIt;
    src: url('../fonts/Aller_BdIt.ttf');
}

@font-face {
    font-family: AllerLight;
    src: url('../fonts/Aller_Lt.ttf');
}

.AllerDbIt {
    font-family: AllerBdIt;
}

.AllerBold {
    font-family: AllerBold;
    color: #656565;
}

.AllerBig {
    font-family: Aller;
    font-size: 18px;
}

.menu-text {
    font-family: AllerLight;
    font-size: 16px;
}

.aller-light {
    font-family: AllerLight;
    font-size: 25px;
    color: #242424;
}
.aller-medium {
    font-family: Aller;
    font-size: 16px;
}

.aller {
    font-family: Aller;
    font-size: 12px;
}

.aller-italic {
    font-family: AllerItalic;
    font-size: 12px;
}

/*/fonts*/
.container {
    width: 67%;
}

/*header*/
.header-block {
    background-color: #242424;
    height: 45px;
}

.no-color {
    background-color: transparent;
    text-align: center;
    border: none;
    padding-right: 0px;
    width: 100%;
}

.menu-block {
    background-color: #ffffff;
}

.navbar-right {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 50px;
}

.header-font {
    font-size: 14px;
    font-family: Aller;
    color: #7e7e7e;
    padding-top: 10px;
    border-right: 1px solid gray;
    height: 100%;
    text-align: center;
}

.additionalPadding {
    padding-top: 2px;
}

.rightAlign {
    text-align: right;
}

.rightFloat {
    float: right;
}

/*.leftFloat {
    float: left;
}*/

.border-height {
    height: 45px;
}

.priceFont {
    font-family: AllerBold;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 26px;
    font-family: Aller;
    color: #57c5a0;
    margin: 0px;
    padding: 8px 0px 0px 0px;
}

h2 {
    font-family: AllerLight;
    font-size: 40px;
    margin: 15px 0 5px 0;
}

h5 {
    margin: 0px;
}

h4 {
    margin: 0px 0px 15px 0px;
    font-family: AllerBold;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
    color: #242424;
}

.navbar-default {
    border: none;
    margin-bottom: 0;
}

.navbar-nav > li > a {
    border-right: 1px solid #eeeeee;
}

.left-border {
    border-left: 1px solid #eeeeee;
}

.right-border {
    border-right: 1px solid #cccccc;
    height: 50px;
}

.leftBorderBold {
    border-left: 1px solid #cccccc;
}

.autoWidth {
    width: auto;
}

.glyphicon {
    font-size: 18px;
    color: #777777;
}

.glyphicon:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.glyphicon-chevron-right {
    vertical-align: top;
    display: inline-block;
    padding-top: 5px;
    top: 0;
    height: 30px;
    width: 35px;
    text-align: center;
    color: #080808;
}

.favourites-counter {
    margin-left: 5px;
    border-radius: 4px;
    padding-left: 2px;
    height: 20px;
    width: 20px;
    font-family: AllerBold;
    font-size: 12px;
    color: #ffffff;
    background-color: #adadad;
}

.purchase-counter {
    background-color: #57c5a0;
    margin-left: 5px;
    border-radius: 4px;
    padding-left: 5px;
    height: 20px;
    width: 20px;
    font-family: AllerBold;
    font-size: 12px;
    color: #ffffff;
}

/*/header*/

/*content*/
.float-left {
    float: left;
}

.image-block-text {
    font-family: AllerLight;
    font-size: 20px;
}

.font-color {
    color: #242424;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;

}

.columnPadding {
    padding: 20px 0px 20px 0px;
}

.threeImagesBlock .botPadding {
    border: none;
    padding-bottom: 0px;
}

.botPadding {
    padding-bottom: 45px;
    border-bottom: 1px solid #bcb5a7;
}

.imageBlock .maxWidth {
    height: 60px;
}

.maxWidth {
    width: 100%;
    height: 58px;
}

.whiteColor {
    text-align: center;
    color: #ffffff;
}

.picturesPaddings {
    padding: 25px 0px 25px 0px;
}

.imageBlock .paddingTop {
    padding-top: 35%;
}

.paddingTop {
    padding: 20px 5px 10px 5px;
}

.imageBlock .priceDateBackground {
    height: 65px;
    width: 65px;
}

.mainDiv {
    background-color: transparent;
    position: absolute;
    left: 50%;
    margin-top: -360px;
    height: 300px;
    width: 390px;
}

.newsBlock .priceDateBackground {
    height: 35px;
    width: 35px;
}

.priceDateBackground {
    float: left;
    top: 0;
    background-color: #57c5a0;
    margin-right: 10px;
}

.dateFont {
    padding-top: 20%;
    font-family: AllerBold;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 110%;
}

.socialBlock .fontSize {
    font-size: 0px;
}

.fontSize {
    font-size: 13px;
}

.topBackground {
    font-family: AllerBold;
    font-size: 14px;
    background-color: #dfdbd4;
    padding: 35px 15px 3px 15px;
    margin-bottom: 10px;
}

.buttonStyle {
    background-color: transparent;
    border: 2px solid #bcb5a7;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttonStyle:hover {
    background-color: #BCB4A7;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.buttonText {
    color: #bcb5a7;
    font-family: AllerBold;
    font-size: 14px;
}

.greyColor {
    text-align: center;
    color: #848484;
}

.newsBlock {
    background-color: #ebe7df;
}

.imageBlock {
    height: 460px;
    /* background-image: url("../images/main1.jpg");*/
}

.pictureProperty {
    height: 100%;
    width: 100%;
}

.shoesCategory {
    background-color: #2e2e2e;
}

.shoesCategory table {
    height: 60px;
}

.threeImagesBlock .thumbnail {
    background-color: transparent;
}

.autoOverflow {
    overflow: auto;
}

.threeImagesBlock {
    background-color: #242424;
}

.shoesPullBlock {
    background-color: #ebe7df;
}

.whiteBackground {
    background-color: #ffffff;
}

.backgroundOnSale {
    background: url('../images/on_sale.jpg');
}

.navbar-right > li > a:hover {
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #57c5a0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.scrollingItem {
    width: 100%;
    height: 5px;
    background-color: transparent;
}
.textStyle {
    margin-bottom: -60px;
    padding: 15px 30px;
    background: rgba(36, 36, 36, 0.85);
    color: #ffffff;
    font-family: AllerLight;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}
.caption {
    position: absolute;
    top: 30%;
    left: 1.8%;
    width: 96.4%;
}
.threeImagesBlock a {
    text-decoration: none;
}

.textStyle:hover {
    background: rgba(0, 0, 0, 0.61);
    transition: all 0.3s ease-in-out;
}

.underImage {
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
}

.priceBackground {
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 20%;
    left: 8%;
    background-color: #57c5a0;
    padding-top: 9%;
    font-size: 13px;
    color: #ffffff;
    padding-left: 2%;
}

.carousel .item {
    height: 460px;
}

#myCarousel .nav a small {
    display: block;
}

#myCarousel .nav {
    background: #eee;
}

.nav-justified > li > a {
    border-radius: 0px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.nav-pills > li[data-slide-to].active a div {
    background-color: #16a085;
}

.nav-pills > li[data-slide-to].active a {
    background-color: transparent;
}

.carousel span {
    opacity: 0.5;
}

.nav-pills > li[data-slide-to].active a span {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.nav-pills > li[data-slide-to] a {
    background-color: #2e2e2e;
}

.nav-pills > li[data-slide-to] a:hover {
    background-color: transparent;
}

.item img {
    height: 100% !important;
    width: 100% !important;
    min-height: 300px;
}

.smallPadding {
    padding-left: 10%;
}

.outOfStock {
    position: absolute;
    top: 0;
    height: 25%;
    width: 20%;
    right: 8%;
    background-color: #f27e4b;
    padding-top: 6%;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}

/*/content*/

/*footer*/
.feedbackBlock a {
    color: #4ead8d;
}

.feedbackBlock a:hover {
    text-decoration: none;
    color: #909090;
    transition: all 0.3s ease-in-out;
}

.transparentBackground {
    background-color: transparent;
}

.thumbnail {
    padding: 0;
    margin: 0;
    border: none;
}

.feedbackFontColor {
    color: #bcbdb7;
}

.feedbackDarkFontColor {
    text-align: justify;
    color: #909090;
}

.feedbackBlock p {
    font-size: 12px;
    font-family: AllerBdIt;
}

.feedbackBlock {
    background-color: #242424;
    border-bottom: 1px solid #1c1c1c;
}

.feedbackBlock table tr td {
    padding: 8px 8px 0px 0px;
}

.feedbackPadding {
    font-size: 0px;
    margin-bottom: 20px;
    padding: 40px 15px 0px 30px;
}

.socialBlock .feedbackPadding {
    padding-top: 0;
    padding-bottom: 20px;
}

.marginTop {
    margin-top: 3px;
}

.iconDiv {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
}

.iconPadding {
    padding-top: 10px;
    padding-left: 10px;
}

.marginLeft {
    margin-left: 3px;
}

.paddingLeft {
    padding-left: 5px;
}

.socialBlock {
    background-color: #242424;
    padding-top: 20px;
    padding-bottom: 20px;
}

.glyphicon-chevron-right {
    background-color: #7d7d7d;
}

.noWrap {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.socialBlock .div-width {
    width: 235px;
}

.div-width {
    width: 250px;
}

.feedbackBlock img:hover {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.socialBlock img:hover {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.searchField {
    vertical-align: bottom;
    display: inline-block;
    padding-left: 5px;
    height: 30px;
    background-color: #2e2e2e;
    color: #626262;
    border: none;
    font-family: AllerItalic;
    font-size: 12px;
    width: 75%;
}

.shoesPullBlock a:hover {
    text-decoration: none;
}

.shoesPullBlock .font-color:hover {
    color: #57c5a0;
    transition: all 0.3s ease-in-out;
}

.copyrightBlock p {
    padding-top: 10px;
}

.copyrightBlock a:hover {
    text-decoration: none;
    color: #57c5a0;
    transition: all 0.3s ease-in-out;
}

.copyrightBlock {
    background-color: #2e2e2e;
}

.copyrightFontColor {
    padding-top: 36px;
    color: #9f9f9f;
}

.copyrightFontColor a {
    padding-top: 30px;
    color: #9f9f9f;
}

/*/footer*/


/*media*/
@media (max-width: 1280px) and (min-width: 518px) {
    .threeImagesBlock .textStyle{
        font-size: 18px;
    }
}
@media (max-width: 1280px) and (min-width: 768px) {
    .shoesPullBlock .priceBackground{
        font-size: 10px;
    }
    .shoesPullBlock .AllerBig{
        font-size: 14px;
    }
    .shoesPullBlock .AllerBold{
        font-size: 10px;
    }

}
@media (max-width: 992px) {
    .threeImagesBlock .botPadding {
        padding-bottom: 10px;
    }
    .copyrightBlock p {
        text-align: center;
    }

    .nav-justified {
        display: none;
    }

    .navbar-right {
        border: none;
    }
    .header-block {
        height: 90px;
    }
    .header-font {
        border: none;
    }
}
@media (max-width: 450px) {
    h1 {
        font-size: 20px;
    }

    .header-font {
        font-size: 10px;
    }

    .header-block {
        height: 60px;
    }

    .header-font {
        margin-top: 10px;
        padding: 0;
        height: 0;
    }
    .div-width {
        width: 180px;
    }
    .div-width .marginLeft {
        margin-left: 0;
    }
    .div-width .marginTop {
        margin-top: 0;
    }
    .socialBlock .rightFloat{
        float: none;
    }
    .socialBlock .div-width {
        width: 150px;
    }
    .socialBlock .paddingLeft {
        padding-top: 5px;
    }
    .searchField{
        width: 68%;
    }
}
@media (max-width: 768px) {
    .textStyle {
        margin-left: 80px;
        margin-right: 80px;
    }
    .priceBackground {
        margin-bottom: 0;
    }
    h2 {
        font-size: 24px;
    }

    .mainDiv {
        left: 50%;
        width: 300px;
    }

    .socialBlock .rightFloat {
        float: left;
    }

    .socialBlock .fontSize {
        padding: 0 15px 20px 30px;
    }
}
@media (max-width: 600px) {
    .mainDiv {
        background-color: rgba(255,255,255,0.4);
        left: 5%;
        width: 300px;
    }
}
@media (max-width: 518px) {
    .textStyle {
        font-size: 12px;
        margin-left: 25px;
        margin-right: 25px;
    }
}


@media (max-width: 992px) and (min-width: 768px) {
    h2 {
        font-size: 32px;
    }
}
/*/media*/
