/*fonts*/
@font-face {
    font-family: AllerBold;
    src: url('../fonts/Aller_Bd.ttf');
}
@font-face {
    font-family: Aller;
    src: url('../fonts/Aller_Rg.ttf');
}
@font-face {
    font-family: AllerItalic;
    src: url('../fonts/Aller_It.ttf');
}
@font-face {
    font-family: AllerBdIt;
    src: url('../fonts/Aller_BdIt.ttf');
}
@font-face {
    font-family: AllerLight;
    src: url('../fonts/Aller_Lt.ttf');
}
.AllerDbIt{
    font-family: AllerBdIt;
}
.AllerBold{
    font-family: AllerBold;
    color: #656565;
}
.AllerBig{
    font-family: Aller;
    font-size: 18px;
}
.AllerLight{
    font-family: AllerLight;
    font-size: 25px;
    color: #242424;
}
.AllerMedium{
    font-family: Aller;
    font-size: 16px;
}
.aller {
    font-family: Aller;
    font-size: 12px;
}
.allerItalic {
    font-family: AllerItalic;
    font-size: 12px;
}
/*/fonts*/
.container{
width: 67%;
}
/*header*/
.headerBlock{
    background-color: #242424;
    height: 45px;
}
.noColor{
    background-color: transparent;
    text-align: center;
    border: none;
    padding-right: 0px;
    width: 100%;
}
.menuBlock{
    background-color: #ffffff;
    height: 50px;
}
.navbar-right{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 50px;
}
.headerFont{
    font-size: 14px;
    font-family: Aller;
    color: #7e7e7e;
    padding-top: 10px;
    border-right: 1px solid gray;
    height: 100%;
    text-align: center;
}
.additionalPadding{
    padding-top: 5px;
}
.rightAlign{
 text-align: right;
}
.rightFloat{
    float: right;
}
.leftFloat {
    float: left;
}
.rowMaxHeight{
    height: 45px;
}
.priceFont{
    font-family: AllerBold;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}
h1{
    font-size: 26px;
    font-family: Aller;
    color: #57c5a0;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
h2{
    font-family: AllerLight;
    font-size: 40px;
    margin: 15px 0 5px 0;
}
h5{
    margin: 0px;
}
h4{
    margin: 0px 0px 15px 0px;
    font-family: AllerBold;
    font-size: 14px;
}

@media (max-width: 768px) {
    .headerBlock{
        height: 90px;
    }
    .headerFont{
        border: none;
    }
}
@media (max-width: 450px) {
    h1{
        font-size: 20px;
    }
    .headerFont{
        font-size: 10px;
    }
    .headerBlock{
        height: 60px;
    }
    .headerFont{
        margin-top: 10px;
        padding: 0;
        height: 0;
    }
}
.navbar-default .navbar-nav > li > a{
    color: #242424;
}
.navbar-default{
    border: none;
}
.navbar-nav > li > a{
    border-right: 1px solid #eeeeee;
}
.leftBorder {
    border-left: 1px solid #eeeeee;
}
.rightBorder{
    border-right: 1px solid #cccccc;
    height: 50px;
}
.leftBorderBold {
    border-left: 1px solid #cccccc;
}
@media (min-width: 768px){
    .navbar{
        border-radius: 0px;
        height: 60px;
        background-color: transparent;
    }
}
.autoWidth{
    width: auto;
}
.glyphicon{
    font-size: 18px;
    color: #777777;

}
.glyphicon-chevron-right{
    vertical-align: top;
    display: inline-block;
    padding-top: 5px;
    top: 0;
    height: 30px;
    width: 35px;
    text-align: center;
    color: #080808;
}

.backgroundGray{
    margin-left: 5px;
    border-radius: 4px;
    padding-left: 2px;
    height: 20px;
    width: 20px;
    font-family: AllerBold;
    font-size: 12px;
    color: #ffffff;
    background-color: #adadad;
}
.backgroundGreen{
    background-color: #57c5a0;
    margin-left: 5px;
    border-radius: 4px;
    padding-left: 5px;
    height: 20px;
    width: 20px;
    font-family: AllerBold;
    font-size: 12px;
    color: #ffffff;
}
/*/header*/

/*content*/
.floatLeft{
    float: left;
}
.imageBlockText{
    font-family: AllerLight;
    font-size: 20px;
}
.fontColor{
color: #242424;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;

}
.columnPadding{
    padding: 20px 0px 20px 0px;
}
.threeImagesBlock .botPadding{
    padding-bottom: 10px;
    border: none;
}
.botPadding{
    padding-bottom: 45px;
    border-bottom: 1px solid #bcb5a7;
}
.imageBlock .maxWidth{
    height: 60px;
}
.maxWidth{
    width: 100%;
}
.whiteColor{
    text-align: center;
    color: #ffffff;
}
.picturesPaddings{
    padding: 25px 0px 25px 0px;
}
.imageBlock .paddingTop{
    padding-top: 35%;
}
.paddingTop{
    padding-top: 30px;
}
.imageBlock .priceDateBackground{
    height: 65px;
    width: 65px;
}
.mainDiv{
    background-color: transparent;
    position: absolute;
    top: 20%;
    left: 50%;
    height: 300px;
    width: 390px;
}
.priceDateBackground{
    float: left;
    background-color: #57c5a0;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.dateFont{
    padding-top: 20%;
    font-family: AllerBold;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 110%;
}
.fontSize{
    font-size: 13px;
}
.topBackground{
    font-family: AllerBold;
    font-size: 14px;
   background-color: #dfdbd4;
    padding: 35px 15px 0px 15px;
}
.buttonStyle{
    background-color: transparent;
    border: 2px solid #bcb5a7;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.buttonStyle:hover{
    background-color:#BCB4A7;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.buttonText{
    color: #bcb5a7;
    font-family: AllerBold;
    font-size: 14px;
}
.greyColor{
    text-align: center;
    color: #848484;
}
.newsBlock{
    background-color: #ebe7df;
}
.imageBlock{
   /* background-image: url("../images/main1.jpg");*/
}
.pictureProperty{
    height: auto;
    width: 100%;
}
.shoesCategory{
    background-color: #2e2e2e;
}
.shoesCategory table{
    height: 60px;
}
.threeImagesBlock .thumbnail{
    background-color: transparent;
}
.autoOverflow{
    overflow: auto;
}
.threeImagesBlock{
    background-color: #242424;
}
.shoesPullBlock {
    background-color: #ebe7df;
}
.whiteBackground{
    background-color: #ffffff;
}
.backgroundOnSale{
    background: url('../images/on_sale.jpg');
}
/*.imagePositioning{
    height: 30%;
    width: 65%;
    position: absolute;
    top: 35%;
    left: 20%;
    background: rgba(36, 36, 36, 0.85);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}*/
.navbar-right > li > a:hover{
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #57c5a0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*.imagePositioning:hover{
    background: rgba(0, 0, 0, 0.61);
}*/
.textStyle{
    position: relative;
    top: -120px;
    padding: 15px 30px;
    background: rgba(36, 36, 36, 0.85);
    color: #ffffff;
    font-family: AllerLight;
    text-align: center;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}
.threeImagesBlock a{
    text-decoration: none;
}
.textStyle:hover{
    background: rgba(0, 0, 0, 0.61);
    transition: all 0.3s ease-in-out;
}
.underImage{
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
}
.priceBackground{
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 20%;
    left: 8%;
    background-color: #57c5a0;
    padding-top: 9%;
    font-size: 13px;
    color: #ffffff;
    padding-left: 2%;
}
.smallPadding{
    padding-left: 10%;
}
.outOfStock{
    position: absolute;
    top: 0;
    height: 25%;
    width: 20%;
    right: 8%;
    background-color: #f27e4b;
    padding-top: 6%;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}
/*/content*/

/*footer*/
.nickColor{
    color: #4ead8d;
}
.transparentBackground{
    background-color: transparent;
}
.thumbnail{
    padding: 0;
    margin: 0;
    border: none;
}
.feedbackFontColor{
    color: #bcbdb7;
}
.feedbackDarkFontColor{
    text-align: justify;
    color: #909090;
}
.feedbackBlock p{
    font-size: 12px;
    font-family: AllerBdIt;
}
.feedbackBlock{
    background-color: #242424;
    border-bottom: 1px solid #1c1c1c;
}
.feedbackBlock table tr td{
    padding: 8px 8px 0px 0px;
}
.feedbackPadding{
    font-size: 0px;
    padding: 40px 15px 0px 30px;
}
.socialBlock .feedbackPadding{
    padding-bottom: 20px;
}

.marginTop{
    margin-top: 3px;
}
.iconDiv{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
}
.iconPadding{
    padding-top: 10px;
    padding-left: 10px;
}
.marginLeft{
    margin-left: 3px;
}
.paddingLeft{
    padding-left: 5px;
}
.socialBlock{
    background-color: #242424;
}
.glyphicon-chevron-right{
 background-color: #7d7d7d;
}
.noWrap{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.divWidth{
    width: 250px
}
.feedbackBlock img:hover{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}
.socialBlock img:hover{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}
.searchField{
    vertical-align: bottom;
    display: inline-block;
    height: 30px;
    background-color: #2e2e2e;
    color: #626262;
    border: none;
    font-family: AllerItalic;
    font-size: 12px;
    width: 85%;
}
.shoesPullBlock a:hover{
    text-decoration: none;
}
.shoesPullBlock .fontColor:hover{
color: #57c5a0;
    transition: all 0.3s ease-in-out;
}
.copyrightBlock{
    background-color: #2e2e2e;
}
.copyrightFontColor{
    padding-top:36px;
    color: #9f9f9f;
}
.copyrightFontColor a{
    padding-top:30px;
    color: #9f9f9f;
}
/*/footer*/
